<% include partials/header %>
    <link rel="stylesheet" href="styles/_new-form.css">
</head>
<body class="personality">
    <% include partials/top-navbar %>
    <nav class="navigation">
        <a href="/profile-overview" class="title-m"><span><img src="../images/icons/back.svg" alt="A back button for returning to the previous page"></span>Vorige <br> pagina</a>
    </nav>
    <h1 class="title-xl">Karaktermatch</h1>
    <p class="body-m">Doe de karaktermatch door deze vragen te beantwoorden, zodat wij iemand kunnen vinden die écht bij jou past.</p>
    <div class="form-wrapper">
        <form method="POST" action="/character-match">
            <fieldset>
                <h2 class="title-xl">Jouw voorkeur</h2>
                <div class="toggle">
                   <label for="toggle" class="label title-m">Mijn match moet dezelfde aandoening hebben</label>
                   <input id="yes" type="radio" class="tab" name="a" value="yes">
                   <label class="radio-inline label first" for="yes">Absoluut</label>
                   <input id="maybe" type="radio" class="tab" name="a" value="maybe">
                   <label class="radio-inline label" for="maybe">Zou fijn zijn</label>
                   <input id="no" type="radio" class="tab" name="a" value="no">
                   <label class="radio-inline label last" for="no">Nee</label>
                </div>

                <div class="toggle">
                   <label for="toggle" class="label title-m">Ik ben opzoek naar</label>
                   <input id="friendship" type="radio" class="tab" name="b" value="friendship">
                   <label class="radio-inline label first" for="friendship">Vriendschap</label>
                   <input id="love" type="radio" class="tab" name="b" value="love">
                   <label class="radio-inline label" for="love">Liefde</label>
                   <input id="both" type="radio" class="tab" name="b" value="both">
                   <label class="radio-inline label last" for="both">Beide</label>
                </div>

                <div class="toggle">
                   <label for="toggle" class="label title-m">Mijn match moet in dezelfde stad wonen</label>
                   <input id="yes2" type="radio" class="tab" name="c" value="yes">
                   <label class="radio-inline label first" for="yes2">Ja</label>
                   <input id="no2" type="radio" class="tab" name="c" value="no">
                   <label class="radio-inline label last" for="no2">Nee</label>
                </div>

                <a href="#" class="hide" name="back">Terug</a href="#">
                <a href="#" class="hide" name="next">Verder</a href="#">
                <div class="bullet-container"></div>
            </fieldset>

            <fieldset>
                <h2 class="title-xl">Jouw karakter 1/2</h2>
                <div class="toggle">
                   <label for="toggle" class="label title-m">Ik ben</label>
                   <input id="introvert" type="radio" class="tab fireAppear" name="d" value="introvert">
                   <label class="radio-inline label first" for="introvert">Introvert</label>
                   <input id="inbetween" type="radio" class="tab fireAppear" name="d" value="inbetween">
                   <label class="radio-inline label" for="inbetween">Ertussen</label>
                   <input id="extrovert" type="radio" class="tab fireAppear" name="d" value="extrovert">
                   <label class="radio-inline label last" for="extrovert">Extrovert</label>
                </div>

                <div class="container">
                  <label for="textfield" class="label title-m">Wat doe je het liefste in die omgeving?</label>
                  <textarea name="textfield" id="textfield" rows="5">Dit doe ik het liefst</textarea>
                </div>

                <div class="toggle">
                   <label for="toggle" class="label title-m">Ik ben</label>
                   <input id="shy" type="radio" class="tab" name="f" value="shy">
                   <label class="radio-inline label first" for="shy">Verlegen</label>
                   <input id="not-shy" type="radio" class="tab" name="f" value="not-shy">
                   <label class="radio-inline label last" for="not-shy">Niet verlegen</label>
                </div>

                <div class="toggle">
                   <label for="toggle" class="radio-inline label title-m">Ik ben</label>
                   <input id="organised" type="radio" class="tab" name="g" value="organised">
                   <label class="radio-inline label first" for="organised">Georganiseerd</label>
                   <input id="free" type="radio" class="tab" name="g" value="free">
                   <label class="radio-inline label last" for="free">Vrij</label>
                </div>

                <a href="#" class="hide" name="back">Terug</a href="#">
                <a href="#" class="hide" name="next">Verder</a href="#">
                <div class="bullet-container"></div>
            </fieldset>

            <fieldset>
                <h2 class="title-xl">Jouw karakter 2/2</h2>
                <div class="toggle">
                   <label for="toggle" class="radio-inline label title-m">Ik heb</label>
                   <input id="impatient" type="radio" class="tab" name="h" value="impatient">
                   <label class="radio-inline label first" for="impatient">Veel geduld</label>
                   <input id="patient" type="radio" class="tab" name="h" value="patient">
                   <label class="radio-inline label last" for="patient">Een kort lontje</label>
                </div>

                <div class="toggle">
                   <label for="toggle" class="radio-inline label title-m">Ik ben</label>
                   <input id="clean" type="radio" class="tab" name="i" value="clean">
                   <label class="radio-inline label first" for="clean">Opgeruimd</label>
                   <input id="dirty" type="radio" class="tab" name="i" value="dirty">
                   <label class="radio-inline label last" for="dirty">Onopgeruimd</label>
                </div>

                <div class="toggle">
                   <label for="toggle" class="radio-inline label title-m">Ik ben</label>
                   <input id="sporty" type="radio" class="tab" name="j" value="sporty">
                   <label class="radio-inline label first" for="sporty">Sportief</label>
                   <input id="lazy" type="radio" class="tab" name="j" value="lazy">
                   <label class="radio-inline label last" for="lazy">Niet sportief</label>
                </div>

                <a href="#" class="hide back" name="back">Terug</a href="#">
                <a href="#" class="hide next" name="next">Verder</a href="#">
                <input type="submit" name="submit" value="Match mij!">
                <div class="bullet-container"></div>
            </fieldset>
        </form>
    </div>
<% include partials/footer %>
