<% include partials/header %>
    <link rel="stylesheet" href="styles/_login.css">
</head>
<body class="login">
    <div class="container">
        <img src="./images/logo-white.svg" alt="Logo I'm down.">
        <h1 class="title-xl">Goed om je terug te zien.</h1>
        <p class="body-m">Log in om verder te gaan.</p>
        <form method="POST" action="/login">
            <label for="email">Email</label>
            <input id="email" type="text" name="email">
            <br>
            <label for="password">Password</label>
            <input id="password" type="password" name="password">
            <br>
            <input type="submit" value="Log In">
        </form>
        <a href="/create-account" class="body-m">Nog geen account? <span>Klik dan hier</span></a>
    </div>
</body>
</html>
