<% include partials/header %>
    <link rel="stylesheet" href="styles/_new-form.css">
</head>
    <div class="form_wrapper">
        <fieldset>
            <h2>The first form</h2>
            <div>
                <input type="text" name="firstname" placeholder="First Name">
                <input type="text" name="lastname" placeholder="Last Name">
            </div>
            <div>
                <input type="email" name="email" placeholder=" Your Email">
            </div>
                <button class="hide" name="back" onclick="previousStep()">Back</button>
                <button class="hide" name="next" onclick="nextStep()">Next</button>
            <div class="bullet-container"></div>
        </fieldset>

        <fieldset>
            <h2>This is form 2</h2>
            <input type="text" name="school" placeholder="School">
            <input type="date" name="date" placeholder="Birthdate">
            <div>
                <input type="radio" name="gender" value="male" checked> Male<br>
                <input type="radio" name="gender" value="female"> Female<br>
                <input type="radio" name="gender" value="other"> Other
            </div>
            <button class="hide" name="back" onclick="previousStep()">Back</button>
            <button class="hide" name="next" onclick="nextStep()">Next</button>
            <div class="bullet-container"></div>
        </fieldset>

        <fieldset>
            <h2>The last form</h2>
            <input type="text" name="name" placeholder="Name">
            <input type="email" name="email" placeholder="Email">
            <button class="hide" name="back" onclick="previousStep()">Back</button>
            <button class="hide" name="next" onclick="nextStep()">Next</button>
            <input type="submit" name="submit" value="Submit Now!" onclick="">
            <div class="bullet-container"></div>
        </fieldset>
    </div>
    <!-- <script src="../js/index.js"></script> -->
</body>
</html>
