  <% include partials/header %>
</head>
<body>
    <!-- <link rel=stylesheet href="../../styles/_homescreen.css"> -->
    <title>List of users</title>

    <h1>A list of users from mongoDB</h1>
    <ul>
    <% users.forEach((user) => {%>
        <li>
            <%= user.firstName %>
            <%= user.lastName %>
            <a href="#" class="deleteUser" data-id="<%= user._id %>">Delete user</a>
            <br>
            <%= user.email %>
        </li>
        <br>
    <% }) %>
</ul>
<% include partials/footer %>

